body {
  text-align: center;
}

.btn {
  display: none;
}

.square {
  height: 150px;
}

.cat {
  background: url("../img/cat.svg") center center no-repeat;
  background-size: 60%;
}

.dog {
  background: url("../img/dog.svg") center center no-repeat;
  background-size: 60%;
}

.border0 {
  border-bottom: 2px solid #000000;
}

.border1 {
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.border2 {
  border-bottom: 2px solid #000000;
}

.border3 {
  border-bottom: 2px solid #000000;
}

.border4 {
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.border5 {
  border-bottom: 2px solid #000000;
}

.border7 {
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}


#message {
  margin-top: 20px;
  font-size: 20px;
}

#player1 {
  margin-top: 155px;
}

#player2 {
  margin-top: 155px;
}

#cat {
  width: 50px;
  height: auto;
}

#dog {
  width: 50px;
  height: auto;
}
