body {
  text-align: center;
  background-color: #D8D9DD;
  background-image: url("../img/paw-prints.png");
  color: #000000;
}

h1 {
  margin-bottom: 30px;
  font-weight: bold;
}

.container {
  margin-top: 5%;
}

.well {
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid #000000;
}

.btn {
  display: none;
  background-color: #FFAB00;
  border: 1px solid #000000;
}

.square {
  height: 150px;
}

.cat {
  background: url("../img/cat.svg") center center no-repeat;
  background-size: 60%;
}

.dog {
  background: url("../img/dog.svg") center center no-repeat;
  background-size: 60%;
}

.border1 {
  border-bottom: 2px solid #000000;
}

.border2 {
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

.border3 {
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

#message {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 24px;
}

#player1, #player2 {
  margin-top: 155px;
}

#cat, #dog {
  width: 50px;
  height: auto;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 650px;
  }

  #player1, #player2 {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
